.imageshape {
    position: absolute;
    background-color: gray;
    text-align: center;
    height: 70%;
    width: 100%;
    padding: 2%;
    margin: 0%;
    overflow: hidden;
  }

/*Logo*/
.logocircle{
    position: absolute;
    background-color: black;
    height: 8%;
    width: 4%;
    padding: 2%;
    margin: 0%;
    overflow: hidden;
    border-radius: 50%;
    top: 2%;
    left: 45%;
}
.logotext1{
    position: absolute;
    left: 23%;
    top: 27%;
    font-size: 250%;
    color: white;
    background-color: transparent;
}
.logoline{
    position: absolute;
    background-color: black;
    height: 0.3%;
    width: 20%;
    top: 23%;
    left: 39%;
}
.logotext2{
    position: absolute;
    left: 44.9%;
    top: 25%;
    font-size: 150%;
    color: black;
    background-color: transparent;
}

/*Navbar*/
.navbar{
    position: absolute;
    background-color:transparent;
    top: 32%;
    left: 1%;
    width: 100%;
    height: 40%;
}
.navshop{
    background-color: transparent;
    font-size: 265%;
    color: black;
    position: absolute;
    left: 31%;
    top: 15%;

}
.navabout{
    background-color: transparent;
    font-size: 265%;
    color: black;
    position: absolute;
    left: 43.7%;
    top: 15%;
}
.navmore{
    background-color: transparent;
    font-size: 260%;
    color: black;
    position: absolute;
    left: 57.2%;
    top: 15%;
}




.searchbarshape{

}


.loginshape{
    
}