*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
}

nav{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.logo{
    width: 120px;
}
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul{
   width: 100%;
   text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
   display: flex;
   align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}


.sub-menu-links{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #767474;
    margin: 12px 0;
}

.sub-menu-links p{
    width: 100%;
}

.sub-menu-links img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-links span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-links:hover span{
    transform: translateX(5px);
}

.sub-menu-links:hover p{
    color: rgb(13, 12, 12);
}