

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}


.lead{
  position: center;
}





#about {
  margin-top: -100px;
  margin-bottom: -35px;
}




.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
