{% load static %}
<html lang="en">
<head>
  <meta charset = "UTF-8">
  <meta http-equiv = "X-UA-Compatible" content="IE=edge">
  <meta name= "viewpoint" content="width=device-width, initial-scale=1.0">
  <title> TIN.Maker </title>
  <link rel="stylesheet" href= "{% static 'css/Base.css' %}"> 
  <link rel="stylesheet" href= "{% static 'css/Home.css' %}">
  <link rel="stylesheet" href= "{% static 'css/Carousel.css' %}">
  <link rel="stylesheet" href= "{% static 'css/Cart.css' %}">
  <link rel="stylesheet" href= "{% static 'css/Nav.css' %}">
  <link rel="stylesheet" href= "{% static 'css/Login.css' %}">
  <link rel="stylesheet" href= "{% static 'css/Register.css' %}">
  <link rel="stylesheet" href= "{% static 'css/Profile.css' %}">

  
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>
  <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
</head>
{% block content %}
{% endblock %}

