{% extends 'app/Base.html' %}
{% load static %}
  {% block content%} 
<body>
    <header>

        <div class="header__wrapper d-flex flex-column flex-md-row align-items-center px-md-4 bg-white border-bottom shadow-sm">
      
          <!-- <h3 class="my-0 mr-md-auto font-weight-normal">Best Goods Inc.</h3> -->
      
          <!-- <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Home</a>
            <a class="p-2 text-dark" href="#">About</a>
            <a class="p-2 text-dark" href="#">Products</a>
            <a class="p-2 text-dark" href="#">Account</a>
          </nav> -->
      
        </div><!-- /flex-column -->
      
      </header>
      
      <div class="container form__wrapper"> 
        
        <h2>Edit Client Profile</h2>
        
        <form id="myForm">
      
          <div class="form-row">
      
            <div class="form-group col-md-6">
      
              <label for="firstName">First Name</label>
              <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First name">
      
            </div><!-- /form-group -->
      
            <div class="form-group col-md-6">
      
              <label for="lastName">Last Name</label>
              <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last name">
      
            </div><!-- /form-group -->
      
          </div><!-- /form-row -->
      
          <div class="form-group">
      
            <label for="company">Company</label>
            <input name="company" type="text" class="form-control" id="company" placeholder="Company">
      
          </div><!-- /form-group -->
          
          <div class="form-group">
      
            <label for="street">Street</label>
            <input name="street" type="text" class="form-control" id="street" placeholder="Street">
      
          </div><!-- /form-group -->
       
          <div class="form-row">
      
            <div class="form-group col-md-6">
      
              <label for="city">City</label>
              <input name="city" type="text" class="form-control" id="city" placeholder="City">
      
            </div><!-- /form-group -->
      
            <div class="form-group col-md-4">
      
              <label for="state">State</label>
              <input name="state" type="text" class="form-control" id="state" placeholder="State">
      
            </div><!-- /form-group -->
      
            <div class="form-group col-md-2">
      
              <label for="zipCode">Zip Code</label>
              <input name="zipCode" type="text" class="form-control" id="zipCode" placeholder="Zip code">
      
            </div><!-- /form-group -->
      
          </div><!-- /form-row -->
      
          <div class="form-row">
      
            <div class="form-group col-md-6">
      
              <label for="homeNumber">Home Number</label>
              <input name="homeNumber" type="tel" class="form-control" id="homeNumber" placeholder="Home number">
      
            </div><!-- /form-group -->
      
            <div class="form-group col-md-6">
      
              <label for="faxNumber">Fax Number</label>
              <input name="faxNumber" type="tel" class="form-control" id="faxNumber" placeholder="Fax number">
      
            </div><!-- /form-group -->
      
          </div><!-- /form-row -->
      
          <div class="form-row form__comments">
      
            <div id="form__comments-by" class="form-group col-md-6"></div>
            <div id="form__comments-txt" class="form-group col-md-6"></div>
      
          </div><!-- /form-row -->
      
          <div class="form__btns">
      
            <button id="cancel" class="btn btn-outline-primary">Cancel</button>
            <button id="save" class="btn btn-primary">Save</button>
      
          </div><!-- /form__btns -->
      
        </form>
      
      </div><!-- /container -->  
      
      <footer class="text-center text-small">
      
       
      
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      
      </footer>
    <script src="Java2.js"></script>
</body>
</html> 
{% endblock%}

</body>