{% extends 'app/Base.html' %}
{% load static %}
  
{% block content %}
<style>
  .footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

</style>
<body>
 <section>
  {% if request.user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
          <a id="a-tag"class="navbar11" href="#">Tin.this is noteworthy</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-links" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-links" href="#art">Art</a>
              </li>
              <li class="nav-item">
                <a class="nav-links" href="Profile/">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-links" href="{% url 'logout'%}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  {% else %}
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
          <a id="a-tag"class="navbar11" href="#">Tin.this is noteworthy</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-links" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-links" href="{% url 'login'%}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-links" href="#art">Art</a>
              </li>
              <li class="nav-item">
            <a class="nav-links" href="{% url 'findUser' %}">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% endif %}
	<div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
			<li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
			<li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
                <!-- https://i.postimg.cc/Jn0X0pDS/1.jpg -->
				<img alt="First slide" class="d-block w-100" src="{% static 'images/poster.jpg' %}">  
				<div class="carousel-caption d-none d-md-block">
					<h5 class="animated bounceInRight" style="animation-delay: 1s">Tin.News</h5>
					<p class="animated bounceInLeft" style="animation-delay: 2s">FREE concert in Water Valley this Wednesday evening!! Bring a friend, chair, blanket, picnic, etc and enjoy the sounds of Asheville, Atlanta, and Athens from your neighbor's lawn 🙂</p>
					<p class="animated bounceInRight" style="animation-delay: 3s"><a href="#">More Info</a></p>
				</div>
			</div>
			<div class="carousel-item">
                <!-- https://i.postimg.cc/SQXZtrTZ/2.jpg -->
				<img alt="Second slide" class="d-block w-100" src="{% static 'images/dog.jpg' %}">"{% static 'css/Profile.css' %}"
				<div class="carousel-caption d-none d-md-block">
					<h5 class="animated slideInDown" style="animation-delay: 1s">Tin.News</h5>
					<p class="animated fadeInUp" style="animation-delay: 2s">Congratulations to Manuel Domingo Pablo for "Perro" winning the juried art selection and TIN's $100 award at the 2nd Annual WVHS Art Reception & Auction!!

            If you missed the event tonight, you still have the opportunity to bid on the 100+ pieces via thisisnoteworthy.org/auctions through Sunday, April 16th.
            
            Thanks to Water Valley High School, Ms. Corso, the students, parents, volunteers, and our sponsors Turnage Drugstore, BTC Grocery, and Dancing Bear Sanctuary for a spectacular event ❤️</p>
					<p class="animated zoomIn" style="animation-delay: 3s"><a href="#">More Info</a></p>
				</div>
			</div>
			<div class="carousel-item">
                <!-- https://i.postimg.cc/Jh4x3cH5/3.jpg -->
				<img alt="Third slide" class="d-block w-100" src="{% static 'images/mucic.jpg' %}">
				<div class="carousel-caption d-none d-md-block">
					<h5 class="animated zoomIn" style="animation-delay: 1s">Tin.News</h5>
					<p class="animated fadeInLeft" style="animation-delay: 2s">We're stoked to welcome Schaefer Llana and Treespots to TIN's Listening Room on Saturday, April 1! $10 at the door. BYOB. Seating is limited, so RSVP at thisisnoteworthy.org/calendar to guarantee your spot.</p>
					<p class="animated zoomIn" style="animation-delay: 3s"><a href="#">More Info</a></p>
				</div>
			</div>
		</div><a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
	</script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
	</script> 
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
	</script>
</section>






    <section id="art" class="art-setion">
        <div>
            <h3 class="art-divder">Art</h3>
        </div>
    </section>


    <section class="cart-section">

    </section>
    <section  class="gallery">
      <div class="container">
        <div class="toolbar">
          <div class="search-wrapper">
            <input class="ahhh" type="search" placeholder="Search for photos">
           
          </div>
          <ul class="view-options">
            <li class="zoom">
              <input type="range" min="180" max="380" value="280">
            </li>
            <li class="show-grid active">
              <button disabled class="grid">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/grid-view.svg" alt="grid view">  
              </button>
            </li>
            <li class="show-list">
              <button class="list">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/list-view.svg" alt="list view">  
              </button>
            </li>
          </ul>
        </div>
        <ol class="image-list grid-view" >
          {% for product in products %}
          <li>
            <figure>
              <img src="{{product.picture.url}}" alt="">
              <figcaption>
                <p>{{product.name}}</p>
                <p style="display: none;">di</p>
                <p>{{product.description}}</p>
                <p>Art by <a href="{% url 'personalProfile' pk=product.user.id %}">{{product.user}}</a></p>
                {%if product.numOfArts < 3%}
                <p>{{product.numOfArts}} left!</p>
                {%endif%}
                <p class="product-price">Price: {{ product.price }}</p> 
                <p><a href="/payment/{{product.id}}"><i class="fa-solid fa-cart-shopping"></i>Buy</a></p>
              </figcaption>
              </figure>
            </li>
            {% endfor %}

        </ol>
      </div>
      </figure>


      </section>

      <script src="https://kit.fontawesome.com/dceaf17e09.js" crossorigin="anonymous"></script>

      <script src="{% static 'js/Cart.js' %}"></script>
      
      


      <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>tin.links</h3>
                        <ul>
                          <li><a href="https://thisisnoteworthy.org" target='_blank'>tin.website</a></li>
                          <li><a href="https://thisisnoteworthy.org/calendar" target='_blank'>tin.calendar</a></li>
                          <li><a href="https://thisisnoteworthy.org/about" target='_blank'>tin.about</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>more links</h3>
                        <ul>
                          <li><a href="https://www.facebook.com/thisisnoteworthy/" target='_blank'>facebook</a></li>
                          <li><a href="https://www.paypal.com/us/fundraiser/charity/1329743" target='_blank'>donate!</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>tin.this is noteworthy</h3>
                        <p>This is Noteworthy is an educational, multi-media, and events nonprofit</p>
                    </div>
                    <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
                </div>
                <p class="copyright">tin.this is noteworthy © 2023</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %} 