{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "UTF-8">
  <meta http-equiv = "X-UA-Compatible" content="IE=edge">
  <meta name= "viewpoint" content="width=device-width, initial-scale=1.0">
  <title> Document</title>
</head>
<body>

    {% for product in products %}
    <div class="product" style="border : 4px solid;">
        <h2 class="product-title">{{ product.name }}</h2>
        <img style="width: 150px;" class="product-img-top" src="{{product.picture.url}}" alt="image not worky">
        <div class="product-body">
            {% comment %} <p class="product-title">{{ product.name }}</p> {% endcomment %}
            <p class="product-text">{{ product.description }}</p>
            <p class="product-price">Price: {{ product.price }}</p>
            <p class="product-user">posted by: {{ product.user }}</p>
            <button href="#" class="btn btn-primary">Add to Card</button>
        </div>
    </div>
    {% endfor %}
    

</body>