{% extends 'app/profile-Base.html' %}
{% load static %}
  
{% block content %}
  <body>
    <div class="hero">
        <nav>
             <!-- <img src="images/logo.png" class="logo"> -->
             <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></
                <li><a href="#">Tin.Markrt</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact</a></li>
             </ul>

     
        </nav>


        <div class="content-profile-page">
            <div class="profile-user-page card">
               <div class="img-user-profile">
                 <img class="profile-bgHome" src="">
                 <img class="avatar" src=""alt="jtojr"/>
                    </div>
                   <button>Buy art</button>
                   <div class="user-profile-data">
                     <h1>name</h1>
                     <p>main-store.com</p>
                   </div> 
                   <div class="description-profile">digitel | painting | blender | <a href="" title=""><strong></strong></a> latin fill tex :100words;| </div>
                   <div class="description-profile"> discription</div>
                <ul class="data-user">
                 <li><a><strong>facebook</strong><span>link</span></a></li>
                 <li><a><strong>insta</strong><span>link</span></a></li>
                 <li><a><strong>twiter</strong><span>link</span></a></li>
                </ul>
               </div>
             </div>
         
   

    <script>
        let subMenu = document.getElementById("subMenu")
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>

   
     <footer>
        
     </footer>
    
</body>
{% endblock %}

