{% load static %}
<html lang="en">
<head>
  <meta charset = "UTF-8">
  <meta http-equiv = "X-UA-Compatible" content="IE=edge">
  <meta name= "viewpoint" content="width=device-width, initial-scale=1.0">
  <title>TIN.Maker</title>
 <link rel="stylesheet" href= "{% static 'css/Profile.css' %}"> 
 <link rel="stylesheet" href= "{% static 'css/nav-Profile.css' %}"> 

  



 <!--this a copy of base.html dont change any thing not sure what we need to delete watching a video to make all of this in one bootstrap link -->
</head>
{% block content %}
{% endblock %}