{% extends 'Base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "UTF-8">
  <meta http-equiv = "X-UA-Compatible" content="IE=edge">
  <meta name= "viewpoint" content="width=device-width, initial-scale=1.0">
  <title> Document</title>
  <link rel="stylesheet" href= "{% static 'Base.css' %}">
  <link rel="stylesheet" href= "{% static 'Home.css' %}">
</head>
<body>

  {% block content%} 
  <div class="topcontent">
    <div class="imageshape"></div>
    <div class="logoline"></div>
    <div class="logotext2"> TIN. Store </div>
    <div class="logocircle">
      <div class="logotext1">
        T.S
      </div>
    </div>
    <nav class="login">

    </nav>
    <nav class="navbar">
      <a class="navshop">shop.</a>
      <a class="navabout">about.</a>
      <a class="navmore">more...</a>
    </nav>
  </div>
  {% endblock%}

</body>