<!DOCTYPE html>
{% extends 'Base.html' %}
{% load static %}
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Login</title>
    <link rel="stylesheet" href= "{% static 'Base.css' %}">
    <link rel="stylesheet" href= "{% static 'Login.css' %}">
    </head>
    {% block content%} 
    <body>
        <div class="login">
            <h1>tin.makers - Login</h1>
            <form method="POST">
              {% csrf_token %} {{ login_form}}
              <div class="login_btn_location">
                <button>Login</button>
              </div>
            </form>
            <p>Don't have an account?</p>
            <a href="/Register"><button>Create an account</button></a>
          </div>
    </body>
<html>
{% endblock%}